/*============================================================*/
/*========================================== default setting  =======*/
/*============================================================*/
:root {
  --heading-primary: #222;
  --text-primary: #465b52;
  --background-1: #e3e6f3;
  --box-shadow: #9b9595;
  --primary-color: #088178;
  --text-light: #787878;
  --border: #cce7d0;
}
/*========================================== Start typography =======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
h1, .h1{
  font-size: 50px;
  line-height: 64px;
  color: var(--heading-primary);
}
h2, .h2{
  font-size: 46px;
  line-height: 54px;
  color: var(--heading-primary);
}
h4, .h4{
  font-size: 20px;
  color: var(--heading-primary);
}
h6, .h6{
  font-weight: 700;
  font-size: 12px;
}
.para{
  font-size: 16px;
  color: var(--text-primary);
}
.para--bold{
  font-weight: 700;
  color: var(--heading-primary);
}
.para--light{
  color: var(--text-light);
}
.para--primary{
  font-weight: 700;
  color: var(--primary-color)
}
a{
  text-decoration: none;
  color:#1a1a1a;
  font-weight: 600;
}
/*========================================== Start section =======*/
.section--p1{
  padding: 40px 20px;
}
.section--p2{
  padding: 80px 20px;
}
.section--ph{
  padding: 0px 20px;
}
.section--m1{
  margin: 40px 0px;
}
.section__header{
  font-size: 50px;
  line-height: 64px;
  color: var(--heading-primary);
  text-align: center;
  text-transform: capitalize;
}
.section__sub-header{
  color:  var(--text-light);
  font-weight:400;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}
body{
  width: 100%;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
/*============================================================*/
/*========================================== Components =======*/
/*============================================================*/
/*========================================== Start buttons =======*/
.btn{
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}
.btn--white{
  color: var( --text-light);
  background-color:white;
}
.btn--white:hover{
  background-color:var(--primary-color);
  color:white
}
.btn--transparent{
  background-color: transparent;
  max-width: 150px;
  border: 1px solid var( --border);
  color:white;
  border-radius: 0;
  padding: 10px 10px;
}
.btn--transparent:hover{
  background-color:white;
  color:var(--primary-color);
}
.btn--hero{
    max-width: 224px;
  background-image: url('../img/button.png');
  background-color: transparent;
  color: var(--primary-color);
  padding: 14px 0 14px 0;
  border: none;
  background-repeat: no-repeat;
  margin-top:15px;
  cursor: pointer;
  font-weight: 700;
  font-size:16px
}
.btn--primary{
  border-radius: 0  0px;
  background: #088178;
  color: white;
  margin: 0;
  border: 2px solid transparent;

}
/*========================================== Start card =======*/
.card{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  padding: 20px;
  border-radius: 4px;
  margin: 5px;
  transition: all 0.3s ease;
}
.card:hover{
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

.card__btn{
  font-weight: 700;
  margin-top: 15px;
  background-color: #eaf5d8;
  color: #566040;
  border: 0;
  padding: 8px;
}
/*========================================== product card =======*/
/*========================= Start Featured product Section & arrival =======*/
.featured-flex, .arrival-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}
.pcard{
  width: 23%;
  min-width: 250px;
  padding:10px;
  border: 0;
  border: 1px solid var(--border);
  border-radius:16px;
  box-shadow:  20px 20px 30px rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  margin: 20px 1%;
}
.pcard:hover{
  transform: scale(1.05);
  box-shadow:  30px 30px 30px rgba(0,0,0,0.05);

}
.pcard__img{
  width: 100%;
  border-radius:16px ;

}
.pcard__desc{
  padding: 10px 10px 7px; 10px;
  position: relative;
}
.pcard__vendor{
  color: var(--text-light);
  text-transform: capitalize;
}
.pcard__title{
  text-transform: capitalize;
  padding: 5px 0 3px;
}
.pcard__rating i{
  color: #fdc947; 
  padding-right: 4px;
  font-size: 14px;
}
.pcard__price{ 
  color: var(--primary-color);
  padding: 7px 0 0;
}
.pcard__cart{
  position: absolute;
  bottom: 0px;
  right: 10px;
  background-color:var(--border);
  padding: 9px;
  color:  var(--primary-color);
  border: 1px solid  var(--primary-color);
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 799px){
  .featured-flex{
    justify-content: space-between;
  }
  .pcard{
    width: 47%;
    min-width:0;
    margin: 15px 5px;
  }
  .pcard__img{
    
  }
  .pcard__vendor, .pcard__rating i{
    font-size: 12px;
  }
  .pcard__title{
    font-size: 15px;
    padding: 3px 0 2px;
  }
}
/*========================================== cta =======*/
.cta{
  padding:40px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-self: start;
  margin: 20px 1%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.cta::before{
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cta * {
  position: relative;
  z-index: 2;
}
.cta:hover .btn{
  background-color:hsl(206deg 100% 69%);;
  color:white;
}
.cta--two{
  width: 48%;
  min-width: 350px;
  min-height: 400px;
} 
.cta--three{ 
  width: 26%;
  min-height: 300px;
} 
.cta--1{
  background-image: url('../img/banner/b17.jpg');
  background-position: right;
}
.cta--2{
  background-image: url('../img/banner/b10.jpg');
}
.cta--3{
  background-image: url('../img/banner/b7.jpg');
}
.cta--4{
  background-image: url('../img/banner/b4.jpg');
  background-position: right;
  width: 42%;
}
.cta--5{
  background-image: url('../img/banner/b18.jpg');
}
.cta__top-text, .cta__header{
  color: #fff;
}
.cta__header{
  font-size: 31px;
  font-weight: 800;
  line-height: 36px;
}
.cta__para{
  margin-top:14px;
  font-weight: 700;
  font-size: 19px;
  color:hsl(206deg 100% 69%);
  text-transform: capitalize;
}
/*============================================================*/
/*========================================== Main Page =======*/
/*============================================================*/

/*========================================== Start header =======*/
.header{
  background-color: var(--background-1);
  box-shadow: 0px 0px 10px var(--box-shadow);
  padding: 20px 20px;
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}
.header-flex{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header__logo{
  
}
.header__list{ 
  list-style: none;
  display: flex;
  
}
.header__link{
  padding: 10px 0px;
  border-bottom: 1px solid transparent;
  margin-left: 40px;
  transition: all 0.3s ease;
  position: relative;
} 
.header__link:hover a,
.header__link.active a{
  color:  var(--primary-color);;
}
.header__link::after ,
.header__link::after{
  transition: all 0.3s ease;
  content: "";
  bottom:0;
  left:0;
  position: absolute;
}
.header__link:hover::after ,
.header__link.active::after {
  width: 60%;
  height:2px;
  background-color: var(--primary-color);
}
/*========================================== Start hero Section =======*/
.hero{
  background-image: url('../img/hero4.png');
  background-size: cover;
  background-position: center 20%;
  height: 70vh;
}
.hero-flex{
  display: flex;  
  flex-direction:column;
  justify-content: center;
  height: 100%;
}
.hero .hero__header span{
  display: block;
}
.hero .hero__header span:last-child{
  color: var(--primary-color);
}
/*========================================== Start Feature Section =======*/
.feature-flex{
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

/*========================================== Start banner Section =======*/
.banner{
  background-image: url('../img/banner/b2.jpg');
  text-align: center;  
    min-height: 333px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner h6{
  color: white;
  font-size:20px;
  margin-bottom: 15px;
}
.banner h2{
  color: white;
}
.banner span{
  color: var(--primary-color);
}
/*========================================== Start 2 & 3 banners Section =======*/
.two-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.three-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*========================================== Start newsletters Section =======*/
.newsletters{
  background-image: url('../img/about/banner.png');
  background-position: center;
  background-size: cover;
  color: white;
}
.news-flex{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.news__text h4{
  font-size: 40px;
  color: white;
  margin: 20px 0 3px;
}
.news__text  p{
  color: var(--background-1);
  font-weight: 900;
}
.news__text  p span{
  color: goldenrod;
}
.news__form{
  display: flex;
  align-self: center;
  margin-top: 20px;
}
.news__form input{
  font-size: 16px;
  padding: 11px 10px 11px 20px;
  min-width:60%;
  border-radius: 5px 0 0 5px;
  border: 0;
}
.news__form input{
  width: 40%;
}
.news__form .btn{
  border-radius: 0 5px 5px 0px;
}
/*========================================== Start Footer Section =======*/
.footer{
  color: var(--text-light);
}
.footer-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col{
  
}
.footer__head{
  margin: 10px 0 15px;
  color: var(--text-primary);
}
.footer__head:not(:first-child){
  margin: 30px 0 15px;
}
.footer__list{
  list-style: none;
}
.list--inline{
  display: flex;
  
}
.footer__list li{
  padding-bottom: 9px;
  cursor: pointer;
  margin-right:  16px; 
  transition: all 0.3s ease;
}
.footer__list li:hover{
  color: var(--primary-color);
}
.footer__list li span{
  font-weight: 600;
}
.footer .row img{
  border-radius:5px;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer .row img:hover{
  box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
}
.footer p{
  margin-bottom: 10px;
}
.copyright{
  margin-top:20px;
  text-align:center;
  font-weight: 700;
  font-size: 20px;
}
/*========================= Start Home Page Media Queries =======*/
.mobile{
  display:none;
}
.desktop{
  display:flex;
}
/* from mobiles to tablet landscape */
@media screen and (max-width:1024px){
  /*=========Components: cta banner*/
  .cta--three {
    width: 48%;
  }
  .cta--4{
    order: 1;
    width: 100%;
  }
  /*=========newsletter section*/
  .news-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news__text p{
    text-align: center;
  }
}
/* from mobiles to tablet portrit */
@media screen and (max-width:799px) {
  /*========= general setting*/
  .mobile{
    display:flex;
  }
  .desktop{
    display:none;
  }
  /*========= Header hamburger menu*/
  .header__icons i{
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .header__icons a.active i{
    color: #088178;
  }
  .header__list{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top:0;
    right: -300px;
    height:100vh;
    width: 300px;
    box-shadow:0 40px 60px rgba(0,0,0,0.1);
    background-color: #e3e6f3;
    padding-top:80px;
    transition: all 0.3s ease;
  }
  .header__list.active{
    right:0px;
  }
  .header__close{
    position:absolute;
    top: 25px;
    left: 0;
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    margin-left: 40px;
  }
  .header__close i{
    font-size: 24px;
    cursor: pointer;  
    transition: all 0.3s ease;
  }
  .header__close:hover i{
    color: #088178;
  }
  .header__link{
    margin-bottom: 12px;
  }
  /*=========Components: cta banner*/
  .cta--two{
    width: 99%;
    min-width: 350px;
  } 

}
/* from large mobiles  */
@media screen and (max-width:600px) {
  .cta--three{
    width: 99%;
  }
}
/* from mobiles  */
@media screen and (max-width:477px) {
  h2,.h2{
    font-size:30px;
    line-height:30px;
    margin: 10px 0 0;
  }
  .section--p1{
    padding: 20px;
  }
  .section__header {
    font-size: 36px;
    line-height: 44px;
  }
  .section__sub-header{ 
    font-size: 18px;
    margin: 4px 0; 
  }
  .hero{
    background-position: top 50% right 37%;
  }
  .hero__header span:not(.h2){
    font-size: 35px;
    line-height: 35px;
    margin: 4px 0 10px;
  }
  .card{
    padding: 7px;
    margin: 7px;
  }
  .card__img{
    width:110px;
  }
  .cta--two{
    min-width:0;
  }
  .cta--1{
    background-position: top 50% right 38%;
  }
  .news__text h4 {
    font-size: 25px;
  }
  .news__form input {
    font-size: 12px;
    padding: 10px 10px 11px 20px;
  }
  .news__form .btn{
    font-size: 12px;
  }
}
@media screen and (max-width:350px) {
  h2, .h2{
    font-size: 25px;
  }
}

/*============================================================*/
/*========================================== Shop Page =====*/
/*============================================================*/
/*========================= Start main banner =======*/
.main-banner{ 
  background-color:var(--primary-color);
  background-image: url('../img/banner/b14.png');
  background-position: 20% 30%;
  min-height: 277px;
}
.main-banner h2{
  color: white;
  margin: 0 0 19px 0;
  font-size: 75px;
  text-transform: capitalize;
}
.main-banner h6{
  color:#c2c5c4;    
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 0px;
  
}
/*========================= Start pagination =======*/
.pagination{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.paginate__link{
  padding: 10px 19px;
  border-radius: 3px;
  font-size: 20px;
  border: 2px solid #088178;
  color:#088178;
  margin: 5px 0 5px 10px;  
}
.paginate__link.disabled, .paginate__link.disabled:hover{
  background-color:#b4afaf;
  border: 2px solid #959393;
  color:white;
}
.paginate__link.active, .paginate__link:hover{
  background-color:#088178;
  color:#fff;
  border: 2px solid transparent;
}
/*========================= Start Home Page Media Queries =======*/
/* from mobiles to tablet portrit */
@media screen and (max-width:799px) {
  .main-banner h2{
    font-size: 66px;
  }
}
/* from large mobiles  */
@media screen and (max-width:600px) {
  .main-banner h2{
    font-size: 60px;
    margin: 0 0 23px 0;
  }
  .main-banner h6{
    font-size: 20px;
  }
}
/* from mobiles  */
@media screen and (max-width:477px) {
  .main-banner{
    min-height: 200px;
  }
  .main-banner h2 {
    font-size: 47px;
    margin: 0 0 17px 0;
  }
  .main-banner h6{
    font-size: 15px;
  }
}
/*============================================================*/
/*========================================== Product Page =====*/
/*============================================================*/
/*========================= Start Product =======*/
.product-flex{
  display: flex;
}
.gallery{
  width: 40%;
  margin-right: 50px;
}
.main-img, .small-img{
  width: 100%;
}
.gallery-container{
  display: flex;
}
.small-img-col:not(:last-child){
  margin-right: 10px;
  cursor: pointer;
}
.desc{
  width:60%;
}
.desc__category{
  padding: 20px 0 10px;
}
.desc__title{
  font-size: 26px;
}
.desc__price{
  font-size: 26px;
}
.desc__choices{
  display: flex;
  flex-direction: column;
}
.desc__choices .row{
  margin: 10px 0;
}
.desc__select{
  padding: 10px 20px;
  min-width: 260px;
  border: 2px solid #cce7d0;
  border-radius: 3px;
}
.desc__quantity-container{
  display: flex;

}
.desc__quantity-icon{
  display: inline-block;
  padding: 6px 11px;
  font-size: 20px;
  border: 2px solid #cce7d0;
  transition: all 0.3s ease;
}
.desc__quantity-icon:hover{
  background-color: #cce7d0;
}
.desc__quantity-icon:first-of-type{
  border-radius: 3px 0px 0px 3px;
}
.desc__quantity-icon:last-of-type{
  border-radius: 0px 3px 3px 0px;
}
.desc__quantity{
  border: none;
  border-top: 2px solid #cce7d0;
  border-bottom: 2px solid #cce7d0;
  padding: 10px 10px;
}
.desc .btn{
  border-radius: 3px;
  min-width: 260px;
  border-bottom: 2px solid transparent;
}
.desc .btn:hover{
  box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}
.desc__details{
  margin: 30px 0 10px;
}
.desc__details-text{
  line-height:23px;    
  text-align: left;
}
/* from large mobiles  */
@media screen and (max-width:600px) {
  .product-flex{
    flex-direction:column;
  }
  .gallery, .desc{
    width: 100%;
    text-align:center;
  }
  .desc__choices{
    align-items: center;
  }
}
/*============================================================*/
/*========================================== Blog Page =====*/
/*============================================================*/

.blog-page .main-banner{
  background-image: url('../img/banner/b19.jpg');
}
.blog-flex{
  
}
.article{
  display: flex;
  align-items: center;
}
.article__img-container{
  width: 50%;
  margin-right: 30px;
}
.article__date{
  font-size: 83px;
  color: #c5c1c1;
  margin-bottom: -30px;
}
.article__img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.article__desc{
  width: 50%;
}
.article__title{
  font-size: 28px;
  margin-bottom: 20px;  
}
.article .btn{
  background: none;
  padding: 15px 0;
  font-weight: 400;
  position: relative;
  margin: 5px 0;
}
.article .btn::after{
  position: absolute;
  right: -80px;
  top: 50%;
  content: " ";
  width: 70px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
}
.article .btn:hover{
  color: #088178;
}
.article .btn:hover::after{
  background-color: #088178;
}
@media screen and (max-width:799px) {
  .article{
    padding: 0 20px;
  }
}
@media screen and (max-width:600px) {
  .article{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 22px;
  }
  .article__img-container, .article__desc{
    width: 100%;;
  }
  .article__img{
    height:280px;
    margin-right: 0px;
  }
  .article__title{
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .article .btn{
    margin: 0;
  }
}

/*============================================================*/
/*========================================== Cart Page =====*/
/*============================================================*/
.cart-page .banner{
  background-image: url('../img/about/banner.png')
}
.cart{
  overflow-x: auto;
}
.cart-table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  text-align: center;
  color: var(--text-primary);
}
.cart-table thead{
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.cart-table tbody td{
  padding: 15px 0;
}
.table-head{
  font-weight: 700;
  padding:15px 0;
  text-transform: uppercase;
}
.table-cell{
  
}
.cart-table td:nth-child(1){/*image*/
  width: 60px;
  text-align: center;
}
.cart-table td:nth-child(2) { /*title*/
  width:200px;
  text-align: center;
}
.cart-table td:nth-child(3){/*price*/
  width:150px;
  text-align: center;
}
.cart-table td:nth-child(4){/*quantity*/
  width:150px;
  text-align: center;
}
.cart-table td:nth-child(5){/*subtotal*/
  width:150px;
  text-align: center;
}
.cart-table td:nth-child(6){/*remove*/
  width:100px;
  text-align: center;
}
.cart-table td:nth-child(1) img{
  width:100%;
  border-radius: 9px;
}
.cart-table td:nth-child(4) input{
  width:70px;
  padding:10px 5px;
}
.cart-table td:nth-child(6) i{
  color: var(--text-primary);
}
.cart-table td:nth-child(6) i:hover{
  color: rgb(177, 10, 10);
}

.cart-page .btn{
  border-radius: 4px;
  font-weight: 400;
  padding: 10px 20px
}
.details-flex{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.coupon {
  width: 60%;
  margin-bottom: 30px;
}
.total {
  width: 30%;
  margin-bottom: 30px;
}
.total .btn{
  width: 100%;
}
.cart__title{
  padding: 0 0 15px;
}
.coupon input{
  padding:14px 20px;outline:none;
  width: 70%;
  border: 1px solid var(--border);
  margin-right: 5px;
  border-radius: 4px;
}
.coupon .btn{
  width: 27%;
}
.total-table{
  border-collapse: collapse; 
  width: 100%;
  margin-bottom:15px;
}
.total-table td{
  width: 50%;
  border: 1px solid var(--border);
  padding: 10px 20px;
  font-size: 15px;
}
.total-table tr:last-child{
  font-weight: 700;
}
.details-flex .btn:hover{
  color: #088178;
  border: 2px solid #088178;
  background-color:#fff;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 16%);
}
@media screen and (max-width:600px) {
  .details-flex{
    flex-direction: column;
    margin-top: 20px;
  }
  .total, .coupon{
    width: 100%;
  }
}

/*============================================================*/
/*========================================== Contact Page =====*/
/*============================================================*/
.contact-page .banner{
  background-color: #747474;
}
.contact-flex{
  display: flex;
  justify-content: space-between;
}

.contact__details, .map-container{
  width:50%;
}
.contact__details h6{
  margin: 0 0 6px;
}
.contact__details h2,
.form h2{
  font-size: 29px;
  color: #088178;
}
.contact__details h4{
  margin: 12px 0 16px;
}
.details__list{
  list-style: none;
}
.details__list li{
  padding-bottom: 20px;
}
.details__list i{
  padding-right:15px;
}
.map-container{
  height: 300px;
}
.map-container iframe{
  width:100%;
  height: 100%;
}
.form-flex{
  display: flex;
  justify-content: space-between;
}

.form{
  width:58%;
}
.form input,.form  textarea{
  padding: 15px 20px;
  display: block;
  margin:10px 0;
  width: 100%;
  border-radius: 8px;
  outline-color: var(--border);
  border: 1px solid var(--border);}
.people-container{
  width: 36%;
}
.person{
  display: flex;
  margin: 30px 0;
  align-items: center;
}
.person img{
  margin-right: 30px;
}
.person h4{
  margin-bottom: 10px;

}
.person .para{
  margin-bottom: 5px;
}
.form-flex .btn{
  border-radius: 8px;
}
.form-flex .btn:hover{
  color: #088178;
  border: 2px solid #088178;
  background-color:#fff;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 16%);
}
@media screen and (max-width:799px){
  .contact-flex{
    flex-direction: column;
  }
  .contact__details, .map-container{
    width: 100%;
  }
  .contact__details{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .form-flex{
    flex-direction: column;
  }
  .form, .people-container{
    width: 100%;
  }
  .people-container{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}






